
.page-title {
  color: var(--gray-6);
  font-size: 36px;
  font-weight: var(--font-bold);
  line-height: 40px;
}

.modal-title {
  color: var(--gray-6);
  font-size: 24px;
  font-weight: var(--font-bold);
  line-height: 28px;
}