.board {
  background-color: var(--green-light);
  border-radius: var(--radius-02);
  color: #fff;
  font-weight: var(--font-weight-bold);
  height: 104px;
  padding: 16px;
  width: 240px;
  margin: 0;
}