:root {
  --radius-01: 8px;
  --radius-02: 16px;
}

.page-title {
  color: var(--title-color);
  font-size: 36px;
  font-weight: var(--font-weight-bold);
  line-height: 41px;
}

.modal-title {
  color: var(--title-color);
  font-size: 24px;
  font-weight: var(--font-weight-bold);
  line-height: 28px;
}
