:root {
  --radius-01: 8px;
  --radius-02: 16px;
}

.page-title {
  color: var(--title-color);
  font-size: 36px;
  font-weight: var(--font-weight-bold);
  line-height: 41px;
}

.modal-title {
  color: var(--title-color);
  font-size: 24px;
  font-weight: var(--font-weight-bold);
  line-height: 28px;
}

.card--column-header {
  --border-color: lightgray;
  border-top: 2px solid var(--border-color);
  border-radius: var(--radius-01);
}

.card--column-header .card-body {
  padding: 24px 16px;
  font-size: 16px;
  line-height: 18px;
}