.kanbanContainer {
  overflow: scroll;
  margin: 0 -24px;
  padding: 0 24px;
  height: calc(100vh - 254px);
  display: flex;
  gap: 30px;
  flex: 1 0;
}

/* width */
.kanbanContainer::-webkit-scrollbar {
  height: 4px;
  width: 0;
}

/* Track */
.kanbanContainer::-webkit-scrollbar-track {
  /* background: #dbdbdb; */
}
 
/* Handle */
.kanbanContainer::-webkit-scrollbar-thumb {
  background: #a7a6a6;
}

/* Handle on hover */
.kanbanContainer::-webkit-scrollbar-thumb:hover {
  background: #929191; 
}

.columnsContainer {
  display: flex;
  width: fit-content;
  gap: 30px;
}