:root {
  // Colors
  --gray-1: #FFFFFF;
  --gray-2: #EEF3FE;
  --gray-3: #D9D9D9;
  --gray-4: #CACFDA;
  --gray-5: #757575;
  --gray-6: #06090D;
  --gray-7: #000000;
  --green-1: #3DDC97;
  --blue-1: #4C9AFF;
  --purple-1: #6C63FF;

  // Font-weights
  --font-bold: 700;

  // Border0radius
  --radius-1: 8px;
  --radius-2: 16px;

  // Spacing
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 28px;
  --spacing-5: 32px;
  --spacing-6: 40px;
}
